{% extends "admin/template_admin.html" %}
{% load static %}
{% block more_stylesheet %}
{% endblock %}
{% block content %}  
{% csrf_token %}
<style>
  .dt-buttons {
      margin-bottom: 20px;
  }
</style>
<div class="card">
    <div class="card-header">
        <div class="card-title d-flex justify-content-between align-items-center w-100">
            <h3 class="card-title"><b><i class="bi bi-table"></i> Tabel Data User</b></h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-editing="true" data-target="#add_user">
                <i class="bi bi-plus-circle-dotted"></i> Tambah User
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="overlay" 
            style="
                display: none;
                position: fixed;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: rgba(0,0,0,0.5);
                z-index: 9999;
                text-align: center;
                color: white;
                font-size: 2rem;
                padding-top: 20%;">
            <i class="fas fa fa-sync-alt fa-spin"></i> Menyiapkan Data ... 
        </div>
        <div class="dt-responsive-table">
            <table id="table_data_user" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" width="5%" >No</th>
                    <th class="text-center" width="25%">Nama User</th>
                    <th class="text-center" width="10%">Username</th>
                    <th class="text-center" width="15%">E-mail</th>
                    <th class="text-center" width="10%">Telepon</th>
                    <th class="text-center" width="25%">Alamat</th>
                    <th class="text-center" width="5%">Status</th>
                    <th class="text-center" width="5%">#</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        </div>
    </div>
</div>
<div id="add_user" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Tambah Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times"></i>
            </button>
            <span class="close-button"><i class="bi bi-x-circle"></i></span>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Nama User</label>
                <input type="text" class="form-control" id="user_alias_add" placeholder="Masukkan Nama User">
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" id="user_name_add" placeholder="Masukkan User Name">
            </div>
            <div class="form-group">
                <label>User Password</label>
                <input type="text" class="form-control" id="user_pass_add" placeholder="Masukkan User Password">
            </div>
            <div class="form-group">
                <label>User Email</label>
                <input type="email" class="form-control" id="user_mail_add" placeholder="Masukkan User Email">
            </div>
            <div class="form-group">
                <label>User Telepon</label>
                <input type="number" class="form-control" id="user_telp_add" placeholder="Masukkan User Telepon">
            </div>
            <div class="form-group">
                <label>User Alamat</label>
                <textarea id="user_alamat_add" class="form-control" cols="10" placeholder="Masukkan User Alamat"></textarea>
            </div>
            <div class="form-group">
                <label>User Status</label>
                <select class="form-control select2" id="select_user_st_add">
                    <option value=""></option>
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="simpan_data_user"><i class="bi bi-floppy2-fill"></i> Simpan Data</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="bi bi-x-circle"></i> Batal</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Edit User -->
<div id="edit_user" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Edit Data User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fa fa-times"></i>
            </button>
            <span class="close-button"><i class="bi bi-x-circle"></i></span>
        </div>
        <div class="modal-body">
            <input type="hidden" id="user_id_edit">
            <div class="form-group">
                <label>Nama User</label>
                <input type="text" class="form-control" id="user_alias_edit" placeholder="Masukkan Nama User">
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" id="user_name_edit" placeholder="Masukkan User Name">
            </div>
            <div class="form-group">
                <label>User Password</label>
                <input type="text" class="form-control" id="user_pass_edit" placeholder="Masukkan User Password">
            </div>
            <div class="form-group">
                <label>User Email</label>
                <input type="email" class="form-control" id="user_mail_edit" placeholder="Masukkan User Email">
            </div>
            <div class="form-group">
                <label>User Telepon</label>
                <input type="number" class="form-control" id="user_telp_edit" placeholder="Masukkan User Telepon">
            </div>
            <div class="form-group">
                <label>User Alamat</label>
                <textarea id="user_alamat_edit" class="form-control" cols="10" placeholder="Masukkan User Alamat"></textarea>
            </div>
            <div class="form-group">
                <label>User Status</label>
                <select class="form-control select2" id="select_user_st_edit">
                    <option value=""></option>
                    <option value="1">Aktif</option>
                    <option value="0">Tidak Aktif</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="update_data_user"><i class="bi bi-floppy2-fill"></i> Update Data</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="bi bi-x-circle"></i> Batal</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block more_scripts %}
<script src="{% static 'ajax/admin/data_user/data_user.js'%}?v={%now 'u'%}"></script>
{% endblock %}