{% extends "admin_base.html" %}
{% load static %}
{% block page_title %}Facebook Ads{% endblock %}

{% block page_heading %}Facebook Ads{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard_admin' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Facebook Ads</li>
{% endblock %}
{% block more_stylesheet %}
{% endblock %}
{% block content %}  
<style>
  .dt-buttons {
      margin-bottom: 20px;
  }
</style>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Data Traffic Per Campaign</h3>
    </div> <!-- /.card-header -->
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-2">
                <label>Tanggal Dari</label>
                <input class="form-control datepicker-input" type="text" id="tanggal_dari" size="12" value="" data-mask="9999-99-99" placeholder="Tanggal Dari"/>
            </div>
            <div class="col-md-2">
                <label>Tanggal Sampai</label>
                 <input class="form-control datepicker-input" type="text" id="tanggal_sampai" size="12" value="" data-mask="9999-99-99" placeholder="Tanggal Sampai"/>
            </div>
            <div class="col-md-3">
                <label>Filter Account</label>
                <select class="form-control select2" id="select_account">
                    <option value=""></option>
                    {% for data_account in data_account %}
                    <option value="{{data_account.account_id}}">{{data_account.account_name|upper}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label>Filter Domain</label>
                <select class="form-control select2-multiple" id="select_sub_domain" multiple>
                    <!-- Options akan diisi secara dinamis oleh JavaScript -->
                </select>
            </div>
            <div class="col-md-2">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-primary form-control" id="btn_load_data">
                    <i class="fas fa-search"></i> Muat Data
                </button>
            </div>
        </div>
    </div><!-- /.card-body -->
</div>
<div class="card">
    <div class="card-header">
        <div class="card-title d-flex justify-content-between align-items-center w-100">
            <h3 class="card-title"><b><i class="bi bi-table"></i> Tabel Traffic Per Campaign (Ads)</b></h3>
        </div>
    </div>
    <div class="card-body">
        <div id="overlay" 
            style="
                display: none;
                position: fixed;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: rgba(0,0,0,0.5);
                z-index: 9999;
                text-align: center;
                color: white;
                font-size: 2rem;
                padding-top: 20%;">
            <i class="fas fa fa-sync-alt fa-spin"></i> Menyiapkan Data ... 
        </div>
        <div class="dt-responsive-table">
            <table id="table_data_campaign_facebook" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" style="font-size: 12px;" width="10%">Tanggal</th>
                    <th class="text-center" style="font-size: 12px;" width="15%">Account Name</th>
                    <th class="text-center" style="font-size: 12px;" width="15%">Campaign Name</th>
                    <th class="text-center" style="font-size: 12px;" width="10%">Spend</th>
                    <th class="text-center" style="font-size: 12px;" width="10%">Impression</th>
                    <th class="text-center" style="font-size: 12px;" width="10%">Reach</th>
                    <th class="text-center" style="font-size: 12px;" width="10%">Clicks <br> <i>Hasil</i></th>
                    <th class="text-center" style="font-size: 12px;" width="10%">Frequency</th>
                    <th class="text-center" style="font-size: 12px;" width="10%">CPR <br> ( Rp. )</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="text-center" style="font-size: 14px;">Total</th>
                    <th class="text-right" style="font-size: 12px;" id="total_spend"></th>
                    <th class="text-right" style="font-size: 12px;" id="total_impressions"></th>
                    <th class="text-right" style="font-size: 12px;" id="total_reach"></th>
                    <th class="text-right" style="font-size: 12px;" id="total_clicks"></th>
                    <th class="text-right" style="font-size: 12px;" id="total_frequency"></th>
                    <th class="text-right" style="font-size: 12px;" id="total_cpr"></th>
                </tr>
            </tfoot>
        </table>
        </div>
    </div>
</div>
{% endblock %}
{% block more_scripts %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="{% static 'ajax/admin/facebook_ads/campaign.js'%}?v={%now 'u'%}"></script>
{% endblock %}
